## Python Expressions and Types

At its simplest, Python is a calculator
You can enter numbers into the Console, and it will dutifully reply with that number.

In [1]:
5

5

You can also enter arithmetic computations, such as `2 + 3`
- We refer to these as "expressions".

In [2]:
2 + 3

5

You can also do addition, subtraction, and multiplication.

In [3]:
3 + 7

10

In [4]:
10 - 4

6

In [5]:
6 * 9

54

Parentheses allow you to modify the order of operations.

In [6]:
2 + 3 * 5

17

In [7]:
(2+3) * 5

25

Division

In [8]:
10 / 5

2.0

In [9]:
9 / 5

1.8

There's another form of division with two slashes

In [10]:
10 // 5

2

But what happens with ``9 // 5``?
* ``//`` lops off the fractional/decimal part. This isn't "rounding" like you learned in elementary school.

In [11]:
9/5

1.8

In [12]:
9//5

1

Modulus operator `%` 

When you divide two numbers, the quotient is the result of the division, and the modulus operator gives you the remainder.

In [13]:
9 % 5

4

Exponents: ``**``

In [14]:
3 ** 9

19683

#### Syntax Errors

Errors are okay, and that they happen very frequently. They can sometimes be cryptic, and googling them is usually an effective way to make sense of them.

In [15]:
2 +

SyntaxError: invalid syntax (4162224534.py, line 1)

In [16]:
5 5

SyntaxError: invalid syntax (393960698.py, line 1)

#### Runtime error.
* Syntax errors are usually because the program was badly formed and the computer couldn't understand it. This one is that the program did something illegal in the course of executing, so it crashed.
* A runtime error in programming occurs when a program is syntactically correct and successfully compiled, but encounters a problem during execution that prevents it from completing its task. 
* Unlike syntax errors, which are identified by the interpreter or compiler before the program runs, runtime errors only become apparent when the program is running.

In [17]:
5 / 0

ZeroDivisionError: division by zero

### Difference Between an Integer and a Floating-Point Number

An integer and a floating-point number are both types of numerical data in Python, but they represent numbers in different ways and are used for different purposes.

Integer (`int`):
- **Definition:** An integer is a whole number that can be positive, negative, or zero, and it has no fractional or decimal component.
- **Examples:** `-3`, `0`, `7`, `42`
- **Usage:** Integers are used when you need to represent whole numbers, such as counting items, indexing elements in a list, or performing operations where fractions or decimals aren't needed.

Floating-Point Number (`float`):
- **Definition:** A floating-point number is a number that can represent both whole numbers and numbers with a fractional part, i.e., numbers that include a decimal point.
- **Examples:** `3.14`, `-0.001`, `2.0`, `42.5`
- **Usage:** Floats are used when you need to represent numbers that are not whole, such as measurements, averages, or any calculations involving fractions or decimals.

Key Differences:
1. **Precision:**
   - **Integers:** Represent exact whole numbers.
   - **Floats:** Can represent numbers with a fractional component, but because of how computers store these numbers, they may not always be exact. This can lead to small rounding errors, especially in complex calculations.

2. **Memory Usage:**
   - **Integers:** Typically use less memory because they store whole numbers without any fractional part.
   - **Floats:** Use more memory because they store both the whole part and the fractional part of a number, and they include additional information about the position of the decimal point.

3. **Operations:**
   - **Integers:** When performing arithmetic operations with integers, the result is usually also an integer (except when division is involved, which can result in a float).
   - **Floats:** Operations involving floats will typically result in a float, even if both operands are integers.

In [ ]:
5

In [ ]:
5.0

**Automatic Conversion:** Python automatically converts an integer to a float if necessary during calculations.

In [ ]:
5 + 2.5  # 5 is an integer, 2.5 is a float

### More on Types
* At its heart, a program is all about processing information.
* Different kinds of information can be processed in different ways. For example, we can do math with numbers, but we can't do math with words.
* If you want to find out the type of something, you can use the `type` command.

In [18]:
type(42)

int

In [19]:
type(3.14)

float

#### Strings

Strings are sequences of characters, which can be words, sentences, or any other characters.
   
**Must be enclosed in matching quotes.** Could be matching single quotes (`'`), double quotes (`"`), or even triple quotes for multi-line strings.

In [20]:
'Hello, World!'  # Single quotes

'Hello, World!'

In [21]:
"Python is fun!"  # Double quotes

'Python is fun!'

In [ ]:
'''This is a multi-line
string example.'''  # Triple quotes

Python will raise a `SyntaxError` if a string is not properly closed.

In [22]:
'string

SyntaxError: unterminated string literal (detected at line 1) (3475014094.py, line 1)

You can concatenate (join) two strings together using the `+` operator.

In [23]:
"hello"+"world"

'helloworld'

If you try to add a string and a number, you will get a `TypeError`, since they are of different types. You can only use `+` on a string and another string.

In [24]:
"The answer is " + 42

TypeError: can only concatenate str (not "int") to str

In [25]:
"The answer is " + "42"

'The answer is 42'

In [26]:
"The answer is " + str(42)

'The answer is 42'

The `*` operator can be used to repeat a string multiple times.

In [27]:
"hi"*4

'hihihihi'

The `*` operator can't be used between two strings; it will raise a `TypeError`.

In [28]:
"ha"*"ha"

TypeError: can't multiply sequence by non-int of type 'str'

This is a situation where the distinction between floats and integers matters a lot. What does it even mean to repeat a string `4.5` times? Python will raise a `TypeError`.

In [29]:
'ha'*4.5

TypeError: can't multiply sequence by non-int of type 'float'

In [30]:
'ha'*4

'hahahaha'

An empty string is simply a string with no characters in it. It is not the same as a space.

In [31]:
''

''

### Variables
We've seen how to use Python like a calculator, but what if we want to store information for later?

In [32]:
a = 1

Notice how interactive python doesn't display anything.
It's because this expression doesn't result in a value. Instead, it just stores the expression to the right of the equals sign inside the variable a. If you want to see the value, you have to type `a`, which tells Python to evaluate the expression `a` by retriving the value stored in `a.

In [33]:
a

1

In [4]:
b = 2

In [37]:
a + b

3

In [5]:
a = 10
a + b

12

In [2]:
# We can do the same thing with strings

var = "test"

In [42]:
var

x = 5

#### Quick aside on the print function

The print function is probably the most ubiquitous function in programming, especially when you're starting out. It is your go-to tool for displaying output to the user or debugging your code.

You can print multiple values by seperating them with a comma. You can reference variables inside your print function.

In [6]:
print(var)

x = 5

test

In [44]:
print(var,a,b,x)

test 10 2 5

In [9]:
print(var,a,b,x,sep="!")

test!10!2!5

#### Naming rules for variables
* Can have letters, numbers, and underscores, must start with a letter or an underscore.
* *It is critical to use meaningful variable names!*
* Variables are case sensitive

We use underscore_case in this class. This is a style requirement. If you use variables without underscore_case, we will deduct.
* `underscore_case` is a naming convention where words in a variable name are separated by underscores (`_`). All the letters are typically in lowercase. This convention is widely used in Python to make variable names more readable, especially when the names consist of multiple words.

**Examples:**

    - `total_amount`
    - `number_of_students`
    - `average_score`

#### Example: Adding up numbers with variables
1. Let's suppose I'm working on an accounting, and I need to add up the values of several transactions.
2. I'm going to create a variable called `total` to keep track of all of my running total of transactions.

3. Initially, `total = 0` since I'm starting at 0.

In [1]:
total = 0

There are special operators for `+=`, `*=`, `/=`, `-=`

In [4]:
total += 1 # says total will equal the value of itself plus one (keeps increasing by 1 each time you run)
print(total)

3

### Booleans

Your fourth data type (after int, float, string) is a Boolean value, a logical true or false

In [13]:
a = True
a

True

In [11]:
a = "true"

In [12]:
type(a)

str

In [ ]:
b = False
b

In [14]:
c = true

NameError: name 'true' is not defined

Boolean values allow you to make decisions in your code.

The single `=` sign sets the value of a variable. The double `==` sign checks whether two things are equal.

In [21]:
# what will the result of this be?
a = 5
b = 10

print(a == b)

False

In [22]:
a != b

True

In [19]:
a = b

In [17]:
# what do you think the value of a and b are now?
print("a: ",a)
print("b: ",b)

a:  10
b:  10

In [20]:
c = "Hello"
d = "hello"
print(c == d)

False

`!=` checks whether two things are different.

In [23]:
e = True
f = False
print(e != f)

True

**Other boolean operators (>, <, >=, <=)**

In [ ]:
# Example 1: Basic comparison with integers
a = 5
b = 10

In [ ]:
# Example 2: Comparing integers and floats
x = 7
y = 7.0

In [ ]:
# Example 3: String comparisons (lexicographical order - english alphabetical)
str1 = "apple"
str2 = "banana"

In [ ]:
# Example 4: Comparing boolean values
true_val = True
false_val = False

In [ ]:
# Example 6: Comparisons involving negative numbers
a = -5
b = -10

In [ ]:
# Example 7: Comparisons involving zero
zero = 0
negative = -1
positive = 1

### The three binary boolean operators: and, or, not

`and` checks whether two values are both True

In [24]:
print("True and True:", True and True)

True and True: True

In [25]:
print("True and False:", True and False)

True and False: False

In [ ]:
print("False and True:", False and True)

In [ ]:
print("False and False:", False and False)

`or` checks whether one of two values is True

In [ ]:
print("True or True:", True or True)

In [26]:
print("True or False:", True or False)

True or False: True

In [ ]:
print("False or True:", False or True)

In [ ]:
print("False or False:", False or False)

`not` checks whether a value is not True

In [27]:
print("Not True:", not True)

Not True: False

In [28]:
print("Not False:", not False)

Not False: True

## Exercise: Booleans

In [7]:
# Example 1: Do you need to wear a jacket?
# You need to wear a jacket if it's raining outside, cold outside, or both.

# Try a few combinations
cold = True
raining = False

# Check if you need a jacket
need_a_jacket = raining or cold
print("Need a jacket:", need_a_jacket)  # Output: True

# Try other combinations
cold = False
raining = False

# Check again
need_a_jacket = raining or cold
print("Need a jacket:", need_a_jacket)  # Output: False

# The only time you don't need a jacket is if it's not raining and not cold
dont_need_a_jacket = (not raining) and (not cold)
print("Don't need a jacket:", dont_need_a_jacket)  # Output: True

Need a jacket: True
Need a jacket: False
Don't need a jacket: True

In [6]:
# Example 2: Getting your law school application ready
# To apply to Georgetown, you need to write an essay, submit your transcript, get recommendations, and take either the LSAT or the GRE.

essay_written = True
transcript_submitted = True
recommendations_sent = True
lsat_taken = False
gre_taken = True

# Check if ready to apply
ready_to_apply = essay_written and transcript_submitted and recommendations_sent and (lsat_taken or gre_taken)
print("Ready to apply:", ready_to_apply)  # Output: True

Ready to apply: True

In [5]:
# Example 3: Eligibility for this class
# To be eligible for this class, you can't have taken a programming class in college or have mastered one programming language.

taken_a_programming_class_in_college = False
mastered_one_programming_language = False
free_time_per_week = 6

# Check if eligible for the class
eligible_for_this_class = (not taken_a_programming_class_in_college) and (not mastered_one_programming_language) and (free_time_per_week > 5)
print("Eligible for this class:", eligible_for_this_class)  # Output: True

Eligible for this class: True