# Operators, Functions, and Methods

There are a number of helpful ways of manipulating lists. But those operations take a wide variety of different forms. This section of lecture will give you a little more detail about the structure of the Python language and key terminology we will be using all semester.

We'll break these operations up into three categories: Operators, Functions, and Methods.

### Operators

 Operators are symbols that perform operations on variables and values.
 
- Arithmetic: `+`, `-`, `*`, `/`
- Comparison: `==`, `!=`, `<`, `>`
- Logical: `and`, `or`, `not`
- Assignment: `=`, `+=`, `-=`

The important thing to remember about operators is that they don't change the expressions to the left and right.

In [1]:
a = 2
b = 3
a + b # doesn't change a or b

5

Operators work on lists.

In [2]:
# adding lists with + creates a new list
x = [1, 2, 3]
y = [4, 5, 6]

print("x:", x)
print("y:", y)
print("x + y:", x + y)

x: [1, 2, 3]
y: [4, 5, 6]
x + y: [1, 2, 3, 4, 5, 6]

In [3]:
# multiplying a list repeats it
x = [1, 2, 3]
print("x * 3:", x * 3)
print("x * 0:", x * 0)
#! x * y would be an error (can't multiply two lists)

x * 3: [1, 2, 3, 1, 2, 3, 1, 2, 3]
x * 0: []

In [4]:
x * y

TypeError: can't multiply sequence by non-int of type 'list'

### Functions
A function is a block of reusable code that performs a specific task.

In [ ]:
# Functions have names like `print`, `input`, or `len`.
print("hello")

In [ ]:
# functions take inputs in parentheses
list_input = ["list", "of", "strings"]
len(list_input)

Function Structure: 
name_of_function(*argument_of_function*)

The result of the function is the "return value."  Aka, the len function *returns* the length of the list or string.

In [5]:
max(1, 8, 9)

9

In [6]:
min(1,9,8)

1

### Methods
A method is a function that belongs to an object (usually a data type like a string or list) and can manipulate its data and perform actions on it.

In [7]:
# example method call on a list
ls = [1, 2, 3, 1, 3, 5, 1, 4, 7]
print("count of 1:", ls.count(1))

count of 1: 3

#### Methods vs Functions

Methods look a lot like functions. They have names, you call them by writing parentheses and providing them with one or more arguments and they return return values. 

The key aesthetic difference is that you put an object of the method *before* the function call, write a dot, and *then* do the function call. Whereas with functions you put the object after the function in paranthesis.

Fundamentally, a method is just like a function, with the object serving as a special additional argument to the method.

**Key Distinction** between Methods and Functions
* Functions will rarely change the values of their arguments.
* Methods will rarely change the values of their arguments, but will often (but not always) change the values of their objects.

In [8]:
# method vs function calls
my_list = [31, 400, 9]

# Method call
my_list.append(5)  # changes the list
print("after append:", my_list)

# Function call
print("len(my_list):", len(my_list))  # returns a value

after append: [31, 400, 9, 5]
len(my_list): 4

In [10]:
# sorted() returns a new list and leaves the original alone
my_list = [31, 400, 9, 5]
print("sorted(my_list):", sorted(my_list))

sorted(my_list): [5, 9, 31, 400]

In [11]:
my_list

[31, 400, 9, 5]

In [12]:
# list.sort() changes the list in place (returns None)
my_list = [31, 400, 9, 5]
result = my_list.sort()
print("sort() return value:", result)
print("my_list after sort:", my_list)

sort() return value: None
my_list after sort: [5, 9, 31, 400]

# Key List Functions and Methods

In [13]:
# in / not in with lists
fruits = ["apple", "banana", "cherry"]

In [14]:
"banana" in fruits

True

In [15]:
"apple" not in fruits

False

In [16]:
# also works on strings
"cat" in "concatenate"

True

In [18]:
# append is how we grow lists one item at a time

nums = [] # or list()
nums.append(10)
nums.append(20)
nums.append(30)

nums

[10, 20, 30]

In [ ]:
# append example
# build a list of the first 20 perfect squares with a while-loop

squares = []

i = 1

while i <= 20:
    squares.append(i * i)
    i += 1

squares

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [22]:
# min and max are functions (not methods)
numbers = [12, 3, 25, 7]

min(numbers)
max(numbers)

25

In [24]:
#they also work alphabetically
word = "banana"

min(word)
max(word)

'n'

In [26]:
# sort & sorted: capital letters sort before lowercas
words = ["Banana", "cherry","apple"]

sorted(words)

['Banana', 'apple', 'cherry']

In [28]:
words.sort()

In [29]:
words

['Banana', 'apple', 'cherry']

# Some Important String-Specific Operations

In addition to many of the list machinery we already know, there are some special string-specific operations.

Notice that these are unusual methods in that they return a new string, instead of altering the existing one. This is true for all string methods.

### Some Boolean Tests
* There are two methods that allow us to examine the structure of strings.
* The `s.startswith('t')` method allows you to check whether the string `s` starts with the string `t`. This produces a boolean value. It's case sensitive.

In [33]:
# startswith and endswith return booleans, case sensitive
s = "Georgetown University"

s.startswith("geo")

False

### Find and Replace

In [39]:
# replace returns a new string
s = "red green blue"

s.replace("green","yellow")

'red yellow blue'

In [40]:
s

'red green blue'

What if we want to make two `replace()` to the same string, one-at-a-time?

In [36]:
# Start with the string, "Thomas Jefferson's coming home"

# replace Thomas Jefferson with George Washington
# AND replace coming with going

s = "Thomas Jefferson's coming home"

s = s.replace("Thomas Jefferson","George Washington")
s = s.replace("coming","going")

s

"George Washington's going home"

In [ ]:
s = "Thomas Jefferson's coming home"

# can split across multiple lines with parenthesis
(s.
 replace("Thomas Jefferson","George Washington").
 replace("coming","going"))

"George Washington's going home"

When chaining methods, each method returns a string. So after `.replace()` finishes, you have a regular string that you can call another method on. Think of it as: first method runs and gives you a string, then you call the next method on that new string.

## Joining and splitting
  * This is a place where strings and lists combine.
  * It's pretty common for you to end up in one of two situations:
    1. You have a list of strings that you want to combine into a single string. For example, you have a list of names and you want to insert commas between them. This uses a method called `join`
    2. You have a single string and you want to split it along some pattern into a list of strings. This is the reverse of what we just discussed. This uses a method called `split`

#### Join
The `.join()` method may seem a bit backward at first. It's a method of a string, and the string itself is what you want between every single pair of items in a list.

In [46]:
# join combines a list of strings
names = ["Ada", "Grace", "Linus"]

", ".join(names)

'Ada, Grace, Linus'

In [47]:
# Example 1: Using ", " to join elements in a list
print(", ".join(["Butcher", "Baker", "Candlestick maker"]))

Butcher, Baker, Candlestick maker

In [49]:
# Example 2: Using a space " " to join elements in a list
print(" ".join(["eggs", "bread", "lettuce"]))

eggs bread lettuce

In [50]:
# Example 3: Using "wood" to join elements in a list
print("wood".join(["how much ", " would a ", "chuck chuck, if a ", "chuck, could chuck "]))

## Notice the final "wood" doesn't appear at the end, because .join() places the string only between items, not at the ends.

how much wood would a woodchuck chuck, if a woodchuck, could chuck

#### Split
The `.split()` method is essentially the reverse of .join(). It breaks up a string based on a delimiter and returns a list of the parts.

In [51]:
# split breaks a string into a list
parts = "red,green,blue"
parts.split(",")

['red', 'green', 'blue']

In [52]:
# Example 1: Splitting by space
print("Georgetown University Law Center".split(" "))

['Georgetown', 'University', 'Law', 'Center']

In [53]:
# Example 2: Splitting on any whitespace without an argument
print("Georgetown    University  Law  Center".split())  # Note the extra white space

['Georgetown', 'University', 'Law', 'Center']

In [54]:
# Example 3: What happens with extra spaces when split by a single space
print("Georgetown    University  Law  Center".split(" "))  # Notice the empty string results

['Georgetown', '', '', '', 'University', '', 'Law', '', 'Center']

In [55]:
# Example 4: Splitting by a specific character
print("Georgetown University Law Center".split("e"))

['G', 'org', 'town Univ', 'rsity Law C', 'nt', 'r']

## F-strings
F-strings are a powerful and convenient way to format strings in Python. Instead of concatenating strings manually or using format(), you can use f-strings.

In [56]:
name = "John"
age = 30
city = "New York"

# Previously
print("My name is " + name + ", I am " + str(age) + " years old, and I live in " + city + ".")

My name is John, I am 30 years old, and I live in New York.

In [58]:
# with F-strings
f"My name is {name}, I am {str(age)} years old, and I live in {city}."

'My name is John, I am 30 years old, and I live in New York.'

In [ ]:
# Using expressions inside f-strings

f"In 10 years, {name} will be {age + 10} years old."

'New York'

In [ ]:
# without the f, prints as normal string
"In 10 years, {name} will be {age + 10} years old."

'In 10 years, {name} will be {age + 10} years old.'

### String Padding with Zeros

A common task is formatting numbers with leading zeros, especially for times, IDs, or dates. The `.zfill()` method pads the left side of a string with zeros until it reaches a specified length. This is useful when you want consistent-width output, like displaying times as "05:09" instead of "5:9".

In [62]:
# zfill pads a string with zeros on the left to reach the specified width
hour = "5"
minute = "9"
print("Time:", hour.zfill(2) + ":" + minute.zfill(2))

Time: 05:09

In [66]:
# you can also do zero padding with f strings
print(f"Time: {int(hour):04d}:{int(minute):02d}")
#              ^^^^^^^^^                          convert string to integer
#                        ^^^                      format specifier: 0=pad with zeros, 2=width 2, d=decimal

Time: 0005:09

In [67]:
# More zfill examples
id_num = "42"
print("ID:", id_num.zfill(5))  # pads to width 5: "00042"

version = "3"
print("Version:", version.zfill(3))  # pads to width 3: "003"

# Note: if the string is already >= the target width, it stays unchanged
long_string = "12345"
print("Already long:", long_string.zfill(3))

ID: 00042
Version: 003
Already long: 12345